@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-encabezado: #392016;
    --color-sub-encabezado: #604f48;
    --color-boton: #64CCC5;
    --color-fondo: #EEEEEE;
    --color-letra-claro: #EEEEEE;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
	text-decoration: none;
}
ul{
    list-style: none;
}


#btn-interfaz{
    color: var(--color-letra-claro);
    padding: 20px 20px;
    background-color: #002d4c;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    border: none;
    font-size: 1.1em;
}
#btn-admin:hover{
    background-color: #053B50;
}
body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: 12% 88%/ 20% 80%;
    grid-template-areas: "navegador encabezado"
                         "navegador cuerpo";
}
/*ENCABEZADO*/
#encabezado-principal{
    grid-area: encabezado;
    background-color: var(--color-encabezado);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo-proyecto{
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: var(--color-letra-claro);
}

#carrito-compras{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    font-size: 3em;
    color: var(--color-letra-claro);
}

/*NAVEGADOR*/

#logo-restaurante{
    width: 12em;
    height: auto;
}
#navegador-principal{
    grid-area: navegador;
    background-color: var(--color-sub-encabezado);
    padding: 40px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

#lista-panel{
    width: 100%;
}

#lista-panel>ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.item-panel{
    flex: 1 1 auto;
    padding: 15px 20px;
    transition: background-color 0.3s linear;
}
.item-panel>a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.2s linear;
}

.item-panel:hover:not(a.seleccionado) {
    background-color: #3920168a;
}
.item-panel:hover>a{
    color: var(--color-letra-claro);
}

.panel-icon{
    font-size: 1.7em;
}

li:has(a.seleccionado){
	background-color: #392016;
}

.seleccionado{
    color: var(--color-letra-claro);
}


/*CUERPO*/
#cuerpo-principal{
    grid-area: cuerpo;
    background-color: var(--color-fondo);
    overflow-y: auto;
    overflow-x: hidden;
}

/*Estilos del modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content{
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}