@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(/Multimedia/Img/Fondos/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.container-main{
    background: transparent;
    backdrop-filter: blur(18px);
    width: 1000px;
    display: flex;
    border: 1px solid #ffff;
    border-radius: 10px;
}

.container{
    width: 50%;
    border-radius: 10px;
    border: none;
    align-items: center; /* Centra los elementos en el contenedor */
}

form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    gap: 10px;
    align-items: center; /* Centra los elementos en el contenedor */
}

form .social{
    display: flex;
    gap: 20px;
}


.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.content i{
    font-size: 20px;
}

input{
    border: none;
    background: #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

button{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 10px 5px;
    border: none;
}

button:hover{
    background: white;
}

/*-----------------------*/

.body-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.body-content .document{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-items: center; /* Centra los elementos dentro del documento */
}

.body-content .document .content2 input{
    width: 220px;
    margin-top: 5px;
}
