<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/templateAdmin}">
<body>
			<div class="card" layout:fragment="contenido">
				<div class="card-header">
				<a class="btn btn-primary" th:href="@{/administrador/empleados/listar/activos}"><i class="fa-solid fa-angle-left icono-back"></i> Atrás</a>
				</div>
				<div class="card-body">
				<h3 th:if="ERROR!=null" th:text="${ERROR}" style="color:red"></h3>
				<h5 th:text="${titulo}"></h5>
					<form th:action="@{/administrador/empleados/actualizar}" th:object="${empleado}" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="idEmpleado" th:value="${empleado.idEmpleado}">
						<div class="form-group">
							<label for="nombre">Nombre</label> 
							<input type="text" class="form-control" th:value="${empleado.nombre}" name="nombre">
						</div>
						<div class="form-group">
							<label for="apellido">Apellido</label>
							<input type="text" class="form-control" th:value="${empleado.apellido}" name="apellido">
						</div>
						<div class="form-group">
							<label for="apellido">Email</label>
							<input type="email" class="form-control" th:value="${empleado.email}" name="email">
						</div>
						<div class="form-group">
							<label for="telefono">Telefono</label>
							<input type="text" class="form-control" th:value="${empleado.telefono}" name="telefono">
						</div>
						<div class="form-group">
							<label for="salario">Sueldo</label>
							<input type="text" class="form-control" th:value="${empleado.salario}" name="salario">
						</div>
						<div class="form-group">
		      			<label class="control-label col-sm-2" for="img">Imagen:</label>
					      <div class="col-sm-10">
					        <input type="file" class="form-control-file" id="img" name="img">
					      </div>
					    </div>
						<div class="form-group col-md-3">
		      				<label for="fechaContratacion" class="form-label">FECHA DE CONTRATACION</label>
					        <input type="date" class="form-control" id="fechaContratacion" name="fechaContratacion" th:field="*{fechaContratacion}" required>
					    </div>
					    <div class="form-group col-md-3">
							<label for="nombre">Clave</label> 
							<input type="password" class="form-control" name="clave" th:value="${empleado.clave}" >
						</div>
						<div class="form-group col-md-3">
							<div class="form-check">
					            <input class="form-check-input" type="checkbox" id="activo" th:field="*{activo}">
					            <label class="form-check-label" for="activo">
					                Activo
					            </label>
					        </div>
						</div>
						<input type="submit" th:value="${btn}" class="btn btn-primary">
					</form>
				</div>
			</div>
</body>
</html>